* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$color-background: hsl(200, 50%, 50%);
$color-base: hsl(200, 70%, 30%);

@mixin image-background($image) {
  background: url($image) no-repeat;
  background-size: 200px 200px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: rgb(142, 142, 214);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* LAYOUT CSS */
#layout {
  padding-left: 25%; /* "left col (nav + list)" width */
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  background: $color-background;
  color: #fff;
}

.header {
  margin: 50% 2em 0;
  text-align: right;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: $color-base;
}

.nav {
  margin-top: 10px;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
  a {
    background: transparent;
    color: #fff;
    margin-top: 1em;
    &:hover,
    &:focus {
      color: $color-base;
      text-decoration: none;
    }
  }
}

.content {
  padding: 2em 3em 0;
  width: 90%;
}

.experiences {
  .experience-type {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .experience > header > .meta:nth-of-type(1),
  .experience > header > .meta:nth-of-type(2), {
      margin-right: 20px;
  }

  .experience {
    padding-bottom: 2em;
    min-height: 230px;
    margin-bottom: 30px;

    &.pure-g {
      @media (max-width: 767px) {
        text-align: center;
      }
    }

    p {
      text-align: justify;
    }

    .avatar {
      width: 100px;
      height: 60px;
      float: right;
      margin-left: 1em;
      &.pucrs {
        background: url(../images/pucrs.png) no-repeat top right;
        background-size: 100px auto;
      }
      &.dell {
        background: url(../images/dell.png) no-repeat top right;
        background-size: 60px 60px;
      }
      &.tw {
        background: url(../images/tw.png) no-repeat top right;
        background-size: 100px auto;
      }
      &.petrofeed {
        background: url(../images/petrofeed.png) no-repeat top right;
        background-size: 100px auto;
      }
      &.clio {
        background: url(../images/clio.png) no-repeat top right;
        background-size: 60px 60px;
      }
    }

    figure {
      img {
        width: 100%;
        height: auto;
        max-width: 200px;
        box-shadow: 2px 2px #40aabf;
      }
    }

    .details {
      padding: 0 15px;
    }

    .description {
      font-family: Georgia, "Cambria", serif;
      color: #444;
      line-height: 1.8em;
    }

    .meta {
      display: inline-block;
      color: #999;
      font-size: 90%;
      margin: 0;
    }
  }
}

@mixin badge($background, $color) {
  background-color: $background;
  color: $color;
}

.techstack {
  float: right;
  $color-badge: invert($color-base);
  $text-color: white;

  .badge {
    $color-lang: #1B5672;
    $color-db: #7F2B34;
    $color-vc: #727021;

    float: left;
    padding: 5px;
    margin: 0px 2px;
    border: 1px solid lightGrey;

    &.domain {
      @include badge(#BFBA23, $text-color);
    }

    &.language {
      @include badge($color-lang, $text-color);
    }

    &.database {
      @include badge($color-db, $text-color);
    }

    &.version-control {
      @include badge($color-vc, $text-color);
    }
  }
}

footer {
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid #eee;

  .pure-menu {
    a {
      color: #ccc;
      font-size: 80%;
      &:hover, &:focus {
        background: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position: static;
  }

  #layout {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}
