<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fernando Witzke</title>
    <meta name="description" content="Fernando Witzke's portfolio">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/hint.css/hint.min.css">

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="witzke">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="pure-g-r" id="layout" ng-controller="ExperienceCtrl">
      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h1 class="brand-title">Fernando Witzke</h1>
            <h2 class="brand-tagline">Software Developer</h2>
          </hgroup>

          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <span class="fa-stack fa-lg">
                  <a href="mailto:fernando.muraro@gmail.com" target="_blank">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                  </a>
                </span>
              </li>
              <li class="nav-item">
                <span class="fa-stack fa-lg">
                  <a href="http://www.linkedin.com/in/fwitzke" target="_blank">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                  </a>
                </span>
              </li>
              <li class="nav-item">
                <span class="fa-stack fa-lg">
                  <a href="http://github.com/fwitzke" target="_blank">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x"></i>
                  </a>
                </span>
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <div class="pure-u-1">
        <div class="content">
          <div ng-hide="experiences" class="loading" >
            <i class="fa fa-spinner fa-spin fa-5x"></i>
          </div>

          <div class="experiences" ng-repeat="exp in experiences" ng-cloak>
            <h1 class="experience-type" ng-bind="exp.type"></h1>

            <section class="experience" ng-repeat="item in exp.items">
              <header>
                <a ng-href="{{item.link}}" target="_blank" ng-class="getClass(item)"></a>
                <h2 ng-bind="item.title"></h2>
                <h3 ng-if="item.company" ng-bind="item.company"></h3>

                <div class="meta shift-right" ng-if="item.period">
                  <i class="fa fa-clock-o"></i>
                  <span ng-bind="item.period|period"></span>
                </div>

                <div class="meta">
                  <i class="fa fa-map-marker"></i>
                  <span ng-bind="item.location"></span>
                </div>
              </header>

              <div class="description">
                <p ng-bind="item.description"></p>
              </div>

              <div ng-if="item.techstack" class="techstack">
                <span ng-repeat="t in item.techstack" ng-bind="t.name" data-hint="{{t.type}}" class="hint--top" ng-class="getTechstackClass(t)"></span>
              </div>
            </section>
          </div>

          <footer>
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
              <ul>
                <li><a href="http://github.com/fwitzke/fwitzke.com" target="_blank">Hosted on Github</a></li>
              </ul>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-45949472-1');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
